# Part 2 of the OGC Challenge

## Table of Contents

[Downloading data and general info¶](#step1) <br>
[Data preprocessing](#step2) <br> 
[EDA](#step3) <br> 
[A/B test results evaluation](#step4) <br>
[Conclusion](#conclusion)<br>

## Downloading data and general info <a id='step1'></a>

In [162]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as st
import numpy as np
import math
import datetime

In [163]:
response_data_map = {
    "q136r2"    : "I do not watch pay TV",
    "q136r1"    : "I own a TV but don’t use it",
    "q136r3"    : "I do not want others in my household to watch pay TV",
    "q136r4"    : "Price is too high / don’t want to pay for pay TV",
    "q136r5"    : "I only watch free networks or channels available without subscribing to a Pay TV service",
    "q136r6"    : "My promotion ended",
    "q136r7"    : "I no longer found value in a TV service",
    "q136r8"    : "Service issues/connection reliability",
    "q136r9"    : "Customer service interactions",
    "q136r10"   : "Couldn’t get X1 Operating System",
    "q136r11"   : "Other, specify",
    "q136r12"   : "None of the above",
    "q142r2"    : "Faster speed",
    "q142r1"    : "Good price/good value",
    "q142r3"    : "Better reliability; less downtime",
    "q142r4"    : "Customer service",
    "q142r5"    : "Brand preference (prefer Comcast over other providers)",
    "q142r6"    : "Better devices or functionality (e.g., Wifi router)",
    "q142r7"    : "Access to XFINITY WiFi Hotspots outside my house",
    "q142r8"    : "It is the only service available here",
    "q142r9"    : "Positive experience with Comcast before; had previously",
    "q142r10"   : "Saw ad on TV",
    "q142r11"   : "Received flyer in mail",
    "q142r12"   : "Recommended by retail salesperson",
    "q142r13"   : "Recommended by friends/family",
    "q142r14"   : "Bad experience with other companies",
    "q142r15"   : "Was already installed when moved in",
    "q142r16"   : "Was easy to sign up for the service",
    "q142r17"   : "Comcast offered me an incentive for signing up for service (e.g., gift card, electronic device)",
    "q142r18"   : "Comcast offered me a guaranteed rate for a specific amount of time",
    "q142r19"   : "Other, specify:",
    "q138r1"    : "Amazon Prime paid subscription",
    "q138r2"    : "Hulu free version",
    "q138r3"    : "Hulu Plus paid subscription",
    "q138r4"    : "Netflix",
    "q138r5"    : "YouTube",
    "q138r6"    : "TV channel websites",
    "q138r7"    : "Sling TV paid subscription",
    "q138r8"    : "iTunes",
    "q138r9"    : "Google Play",
    "q138r10"   : "Other, specify",
    "q138r11"   : "Do not currently use any service to stream",
    "q138r12"   : "Don’t Know"
}

In [164]:
data_full = pd.read_excel('/Users/dina/Downloads/Dataset_V2.0.xlsx', sheet_name="Full Wave")
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 91 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record        1036 non-null   int64
 1   B             1036 non-null   object
 2   C             1036 non-null   int64
 3   Dr1           1036 non-null   object
 4   Dr2           1036 non-null   object
 5   Dr3           1036 non-null   object
 6   Dr4           1036 non-null   object
 7   Dr5           1036 non-null   object
 8   Dr6           1036 non-null   object
 9   Dr7           1036 non-null   object
 10  Dnone         1036 non-null   object
 11  E-Zip Code    1036 non-null   int64
 12  G             1036 non-null   object
 13  H             1036 non-null   object
 14  Hr8oe         18 non-null     object
 15  L             1036 non-null   object
 16  Lr10oe        0 non-null      float64
 17  X             935 non-null    float64
 18  noanswerX_r1  935 non-null    object
 19  q101c1        1036 non-null   object
 20  q101c2        1036 non-null   object
 21  q101c3        1036 non-null   object
 22  q105r1        666 non-null    object
 23  q105r2        1036 non-null   object
 24  q110r1        666 non-null    object
 25  q110r2        1036 non-null   object
 26  q113r1        666 non-null    object
 27  q113r2        666 non-null    object
 28  q113r3        666 non-null    object
 29  q113r4        666 non-null    object
 30  q113r5        666 non-null    object
 31  q113r6        666 non-null    object
 32  q115          370 non-null    object
 33  q116          370 non-null    object
 34  q117          666 non-null    object
 35  q120          370 non-null    object
 36  q125          108 non-null    object
 37  q125r8oe      5 non-null      object
 38  q136r1        370 non-null    object
 39  q136r2        370 non-null    object
 40  q136r3        370 non-null    object
 41  q136r4        370 non-null    object
 42  q136r5        370 non-null    object
 43  q136r6        370 non-null    object
 44  q136r7        370 non-null    object
 45  q136r8        370 non-null    object
 46  q136r9        370 non-null    object
 47  q136r10       370 non-null    object
 48  q136r11       370 non-null    object
 49  q136r12       370 non-null    object
 50  q136r11oe     46 non-null     object
 51  q138r1        1036 non-null   object
 52  q138r2        1036 non-null   object
 53  q138r3        1036 non-null   object
 54  q138r4        1036 non-null   object
 55  q138r5        1036 non-null   object
 56  q138r6        1036 non-null   object
 57  q138r7        1036 non-null   object
 58  q138r8        1036 non-null   object
 59  q138r9        1036 non-null   object
 60  q138r10       1036 non-null   object
 61  q138r11       1036 non-null   object
 62  q138r12       1036 non-null   object
 63  q138r10oe     41 non-null     object
 64  q142r1        1036 non-null   object
 65  q142r2        1036 non-null   object
 66  q142r3        1036 non-null   object
 67  q142r4        1036 non-null   object
 68  q142r5        1036 non-null   object
 69  q142r6        1036 non-null   object
 70  q142r7        1036 non-null   object
 71  q142r8        1036 non-null   object
 72  q142r9        1036 non-null   object
 73  q142r10       1036 non-null   object
 74  q142r11       1036 non-null   object
 75  q142r12       1036 non-null   object
 76  q142r13       1036 non-null   object
 77  q142r14       1036 non-null   object
 78  q142r15       1036 non-null   object
 79  q142r16       1036 non-null   object
 80  q142r17       1036 non-null   object
 81  q142r18       1036 non-null   object
 82  q142r19       1036 non-null   object
 83  q142r19oe     70 non-null     object
 84  q001          1036 non-null   object
 85  q001r5oe      19 non-null     object
 86  q003          1036 non-null   object
 87  q004          1036 non-null   object
 88  q005          1036 non-null   object
 89  q007          823 non-null    object
 90  q008          1036 non-null   object
dtypes: float64(2), int64(3), object(86)
memory usage: 736.7+ KB

In [165]:
data_full.head()

,record,B,C,Dr1,Dr2,Dr3,Dr4,Dr5,Dr6,Dr7,...,q142r18,q142r19,q142r19oe,q001,q001r5oe,q003,q004,q005,q007,q008
0,18,Female,28,NO TO: 1-17,NO TO: 18-24,25-34,NO TO: 35-44,NO TO: 45-54,NO TO: 55-64,NO TO: 65+,...,NO TO: Comcast offered me a guaranteed rate fo...,"NO TO: Other, specify:",NaN,Townhouse or attached home,NaN,Employed full-time,Graduate degree,Not married but in a similarly-committed relat...,No,"$100,000-$149,999"
1,5,Female,24,NO TO: 1-17,18-24,NO TO: 25-34,NO TO: 35-44,NO TO: 45-54,NO TO: 55-64,NO TO: 65+,...,NO TO: Comcast offered me a guaranteed rate fo...,"NO TO: Other, specify:",NaN,Apartment building,NaN,Employed full-time,College graduate,Married,No,"$75,000-$99,999"
2,9,Female,31,NO TO: 1-17,NO TO: 18-24,25-34,NO TO: 35-44,NO TO: 45-54,NO TO: 55-64,NO TO: 65+,...,NO TO: Comcast offered me a guaranteed rate fo...,"NO TO: Other, specify:",NaN,Apartment building,NaN,Employed full-time,College graduate,Single,NaN,"$25,000-$34,999"
3,57,Male,58,NO TO: 1-17,NO TO: 18-24,NO TO: 25-34,NO TO: 35-44,NO TO: 45-54,55-64,NO TO: 65+,...,Comcast offered me a guaranteed rate for a spe...,"NO TO: Other, specify:",NaN,"Other, please specify",Triplex,Employed full-time,College graduate,Single,NaN,"$35,000-$49,999"
4,36,Female,27,NO TO: 1-17,NO TO: 18-24,25-34,NO TO: 35-44,NO TO: 45-54,NO TO: 55-64,NO TO: 65+,...,NO TO: Comcast offered me a guaranteed rate fo...,"NO TO: Other, specify:",NaN,Single family home,NaN,Homemaker,Some college/trade school,Married,Yes,"$50,000-$74,999"

In [166]:
data_full=data_full.drop(columns=['Dr1', 'Dr2', 'Dr3', 'Dr4', 'Dr5', 'Dr6', 'Dr7', 'Dnone', 'noanswerX_r1'])
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 82 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   record      1036 non-null   int64
 1   B           1036 non-null   object
 2   C           1036 non-null   int64
 3   E-Zip Code  1036 non-null   int64
 4   G           1036 non-null   object
 5   H           1036 non-null   object
 6   Hr8oe       18 non-null     object
 7   L           1036 non-null   object
 8   Lr10oe      0 non-null      float64
 9   X           935 non-null    float64
 10  q101c1      1036 non-null   object
 11  q101c2      1036 non-null   object
 12  q101c3      1036 non-null   object
 13  q105r1      666 non-null    object
 14  q105r2      1036 non-null   object
 15  q110r1      666 non-null    object
 16  q110r2      1036 non-null   object
 17  q113r1      666 non-null    object
 18  q113r2      666 non-null    object
 19  q113r3      666 non-null    object
 20  q113r4      666 non-null    object
 21  q113r5      666 non-null    object
 22  q113r6      666 non-null    object
 23  q115        370 non-null    object
 24  q116        370 non-null    object
 25  q117        666 non-null    object
 26  q120        370 non-null    object
 27  q125        108 non-null    object
 28  q125r8oe    5 non-null      object
 29  q136r1      370 non-null    object
 30  q136r2      370 non-null    object
 31  q136r3      370 non-null    object
 32  q136r4      370 non-null    object
 33  q136r5      370 non-null    object
 34  q136r6      370 non-null    object
 35  q136r7      370 non-null    object
 36  q136r8      370 non-null    object
 37  q136r9      370 non-null    object
 38  q136r10     370 non-null    object
 39  q136r11     370 non-null    object
 40  q136r12     370 non-null    object
 41  q136r11oe   46 non-null     object
 42  q138r1      1036 non-null   object
 43  q138r2      1036 non-null   object
 44  q138r3      1036 non-null   object
 45  q138r4      1036 non-null   object
 46  q138r5      1036 non-null   object
 47  q138r6      1036 non-null   object
 48  q138r7      1036 non-null   object
 49  q138r8      1036 non-null   object
 50  q138r9      1036 non-null   object
 51  q138r10     1036 non-null   object
 52  q138r11     1036 non-null   object
 53  q138r12     1036 non-null   object
 54  q138r10oe   41 non-null     object
 55  q142r1      1036 non-null   object
 56  q142r2      1036 non-null   object
 57  q142r3      1036 non-null   object
 58  q142r4      1036 non-null   object
 59  q142r5      1036 non-null   object
 60  q142r6      1036 non-null   object
 61  q142r7      1036 non-null   object
 62  q142r8      1036 non-null   object
 63  q142r9      1036 non-null   object
 64  q142r10     1036 non-null   object
 65  q142r11     1036 non-null   object
 66  q142r12     1036 non-null   object
 67  q142r13     1036 non-null   object
 68  q142r14     1036 non-null   object
 69  q142r15     1036 non-null   object
 70  q142r16     1036 non-null   object
 71  q142r17     1036 non-null   object
 72  q142r18     1036 non-null   object
 73  q142r19     1036 non-null   object
 74  q142r19oe   70 non-null     object
 75  q001        1036 non-null   object
 76  q001r5oe    19 non-null     object
 77  q003        1036 non-null   object
 78  q004        1036 non-null   object
 79  q005        1036 non-null   object
 80  q007        823 non-null    object
 81  q008        1036 non-null   object
dtypes: float64(2), int64(3), object(77)
memory usage: 663.8+ KB

In [167]:
#data_full['col'] = df['col'].astype(str).convert_objects(convert_numeric=True)

In [168]:
mutiple_choice_questions = ['q142','q136','q138']
## Replaceing 'NO TO' with 0, otherwise 1
for question_prefix in mutiple_choice_questions:
    question_results_columns = list(filter(lambda col_name: col_name.startswith(question_prefix) & (col_name.endswith("oe") == False), data_full.columns))
    for col in question_results_columns:
        data_full[col] = data_full[col].apply(lambda x: 0 if isinstance(x, str) & str(x).startswith("NO TO") else 1)

    # print(data_full[question_results_columns].head(20))

## Renaming colums in the followinf format:
# "q136r1 - I own a TV but don’t use it",
columns_names = dict(map(lambda kv: (kv[0], kv[0]+" – "+kv[1]), response_data_map.items()))
data_full.rename(columns = columns_names, inplace = True)

print(data_full.columns)

Index(['record', 'B', 'C', 'E-Zip Code', 'G', 'H', 'Hr8oe', 'L', 'Lr10oe', 'X',
       'q101c1', 'q101c2', 'q101c3', 'q105r1', 'q105r2', 'q110r1', 'q110r2',
       'q113r1', 'q113r2', 'q113r3', 'q113r4', 'q113r5', 'q113r6', 'q115',
       'q116', 'q117', 'q120', 'q125', 'q125r8oe',
       'q136r1 – I own a TV but don’t use it',
       'q136r2 – I do not watch pay TV',
       'q136r3 – I do not want others in my household to watch pay TV',
       'q136r4 – Price is too high / don’t want to pay for pay TV',
       'q136r5 – I only watch free networks or channels available without subscribing to a Pay TV service',
       'q136r6 – My promotion ended',
       'q136r7 – I no longer found value in a TV service',
       'q136r8 – Service issues/connection reliability',
       'q136r9 – Customer service interactions',
       'q136r10 – Couldn’t get X1 Operating System',
       'q136r11 – Other, specify', 'q136r12 – None of the above', 'q136r11oe',
       'q138r1 – Amazon Prime paid subscription', 'q138r2 – Hulu free version',
       'q138r3 – Hulu Plus paid subscription', 'q138r4 – Netflix',
       'q138r5 – YouTube', 'q138r6 – TV channel websites',
       'q138r7 – Sling TV paid subscription', 'q138r8 – iTunes',
       'q138r9 – Google Play', 'q138r10 – Other, specify',
       'q138r11 – Do not currently use any service to stream',
       'q138r12 – Don’t Know', 'q138r10oe', 'q142r1 – Good price/good value',
       'q142r2 – Faster speed', 'q142r3 – Better reliability; less downtime',
       'q142r4 – Customer service',
       'q142r5 – Brand preference (prefer Comcast over other providers)',
       'q142r6 – Better devices or functionality (e.g., Wifi router)',
       'q142r7 – Access to XFINITY WiFi Hotspots outside my house',
       'q142r8 – It is the only service available here',
       'q142r9 – Positive experience with Comcast before; had previously',
       'q142r10 – Saw ad on TV', 'q142r11 – Received flyer in mail',
       'q142r12 – Recommended by retail salesperson',
       'q142r13 – Recommended by friends/family',
       'q142r14 – Bad experience with other companies',
       'q142r15 – Was already installed when moved in',
       'q142r16 – Was easy to sign up for the service',
       'q142r17 – Comcast offered me an incentive for signing up for service (e.g., gift card, electronic device)',
       'q142r18 – Comcast offered me a guaranteed rate for a specific amount of time',
       'q142r19 – Other, specify:', 'q142r19oe', 'q001', 'q001r5oe', 'q003',
       'q004', 'q005', 'q007', 'q008'],
      dtype='object')

In [169]:
## Joining single choice answers to one column
# def filter_selected_results(results_columns):
#     result_values = results_columns.values
#     result_values = list(filter(lambda r: (isinstance(r, str) & (str(r).startswith('NO TO') == False)), result_values))
#     result_values = list(map(lambda s: s.strip(), result_values))
#     # print(result_values)
#     return result_values


# single_choice_questions = ['q142','q136', 'q138']
# for question_prefix in single_choice_questions:
#     question_results_columns = list(filter(lambda col_name: col_name.startswith(question_prefix) ,data_full.columns))
#     data_full[question_prefix] = data_full[question_results_columns].apply(lambda results: '#'.join(filter_selected_results(results)), axis=1)
#     data_full = data_full.drop(labels = question_results_columns, axis=1)
#     print(data_full[question_prefix].head(20).values)

In [170]:
data_full.head()

,record,B,C,E-Zip Code,G,H,Hr8oe,L,Lr10oe,X,...,q142r18 – Comcast offered me a guaranteed rate for a specific amount of time,"q142r19 – Other, specify:",q142r19oe,q001,q001r5oe,q003,q004,q005,q007,q008
0,18,Female,28,46574,"Yes, I have a choice of provider",FiOS (Verizon),NaN,XFINITY by Comcast,NaN,120.0,...,0,0,NaN,Townhouse or attached home,NaN,Employed full-time,Graduate degree,Not married but in a similarly-committed relat...,No,"$100,000-$149,999"
1,5,Female,24,48185,"Yes, I have a choice of provider",Do not have pay TV service at home,NaN,XFINITY by Comcast,NaN,50.0,...,0,0,NaN,Apartment building,NaN,Employed full-time,College graduate,Married,No,"$75,000-$99,999"
2,9,Female,31,33834,"Yes, I have a choice of provider",Do not have pay TV service at home,NaN,XFINITY by Comcast,NaN,67.0,...,0,0,NaN,Apartment building,NaN,Employed full-time,College graduate,Single,NaN,"$25,000-$34,999"
3,57,Male,58,97086,"Yes, I have a choice of provider",Do not have pay TV service at home,NaN,XFINITY by Comcast,NaN,40.0,...,1,0,NaN,"Other, please specify",Triplex,Employed full-time,College graduate,Single,NaN,"$35,000-$49,999"
4,36,Female,27,60171,"No, I do not have a choice (I am limited to on...",Do not have pay TV service at home,NaN,XFINITY by Comcast,NaN,41.0,...,0,0,NaN,Single family home,NaN,Homemaker,Some college/trade school,Married,Yes,"$50,000-$74,999"